DB_NAME=prode
DB_USERNAME=postgres
DB_PASSWORD=
DB_HOST=db
DB_PORT=5432
SECRET_KEY=django-insecure-change-this-in-production
DEBUG=True
ALLOWED_HOSTS=*

# Celery / Redis
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# football-data.org — registrate en https://www.football-data.org/client/register
FOOTBALL_DATA_TOKEN=
FOOTBALL_DATA_BASE_URL=https://api.football-data.org/v4/
WORLD_CUP_COMPETITION_CODE=WC
